@import 'variables';

// Bootstrap library
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
}
.bg-light{
background-color: $bg-light !important;
} 

.navbar-brand{
  color:$color-navbar-brand;
  &:hover{
    color:darken($color-navbar-brand, 10)
  }
}

.nav-link{
  color: darken($white, 10);
  &:hover{
    color:darken($white, 20)
  }
}
.input-group-text{
  background-color:$primary;
  color:$white
}
.input-group-text {
  border:none
}
.fa-layers-counter {
  top: -5px;
  right: -5px;
  -webkit-transform: scale(0.65);
  transform: scale(0.65);
}
.autocomplete{
  // position: absolute;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #cccccc;
    display: none;
}
.autocomplete.active{
display: initial
}
// .searchbox {
//   width: 100px;
//   -webkit-transition: all 1s ease-in-out;
//     -moz-transition:all 1s ease-in-out;
//     -o-transition: all 1s ease-in-out;
//     transition: all 1s ease-in-out;
    
    

// }
// .searchbox:focus{
//   width: 200px;
//   -webkit-transform: translateX(10%);
//     transform: translateX(10%);
// }
.navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
}
.navbar-toggler-icon{
  color:red;
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}