@import 'variables';

// Bootstrap library
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
}
.bg-light{
background-color: $bg-light !important;
} 

.navbar-brand{
  color:$color-navbar-brand;
  &:hover{
    color:darken($color-navbar-brand, 10)
  }
}

.nav-link{
  color: darken($white, 10);
  &:hover{
    color:darken($white, 20)
  }
}
.input-group-text{
  background-color:$primary;
  color:$white
}
.input-group-text {
  border:none
}
.searchbox {
  
  -webkit-transition: width 1s ease-in-out;
    -moz-transition:width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    

}
.searchbox:focus {
  flex: 2
}
